.vertical {
    flex-direction: column;
}
.horizontal {
    flex-direction: row;
}
.even {
    justify-content: space-evenly;
}
.small {
    width: 50vw;
}
.large {
    width: 100vw;
}
.absolute {
    position: absolute;
}
.round {
    border-radius: 20px;
}

.blue {
    background-color: var(--blue);
}
.pink {
    background-color: var(--pink);
}
.navy {
    background-color: var(--navy);
}

.sofia {
    font-family: 'Sofia', cursive;
}
.mali {
    font-family: 'Mali', cursive;
}

.image {
    max-width: 100%;
    max-height: 100%;
}
.rotateL {
    transform: rotateZ(-5deg);
}
.rotateR {
    transform: rotateZ(5deg);
}

/* Banner */
#banner {
    object-fit: cover;
    background-image: url("/resources/about/banner.png");
}
#banner-text {
    font-size: 8rem;
    filter: drop-shadow(5px 5px 0px white);
}

/* Navbar */
#navbar {
    gap: 15px;
    flex-wrap: wrap;
    /* justify-content:space-around; */
}

/* About */
#about-left {
    width: 30%;
}
#about-right {
    height: 50vh;
    background-color: var(--pink);
    padding: 20px;
}
#Hello {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 6rem;
}

/* DRAWINGS */
#drawings-holder {
    overflow-x: hidden;
}
.drawings {
    aspect-ratio: 1;
    min-width: 200px;
    max-width: 20%;
    object-fit: cover;
}
.drawings:hover {
    cursor: pointer;
}
.open {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    max-width: 90vw;
    max-height: 90vh;
    aspect-ratio: auto;
    filter: drop-shadow(0px 0px 15px black);
}